.about-container {
  padding: 20px;
}

.collapsible {
  margin-bottom: 1rem;
  border: 1px solid #1f2937;
  border-radius: 0.5rem;
}

.collapsible-header {
  background-color: #0f172a;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: none;
  color: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible-header .arrow {
  transition: transform 0.3s ease;
}

.collapsible-header .arrow.open {
  transform: rotate(180deg);
}

.collapsible-content {
  padding: 1rem;
}
